.icono{
    font-size: 105px;
    color: #007a94;
}

.txt-center{
    text-align: center;
}

.inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vw;
}

.datos{
    font-size: 13px;
    color: #8c8c8c;
}
